@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Aprende sobre <a href="https://learn.microsoft.com/aspnet/core">Constroi aplicações web com ASP.NET Core</a>.</p>
</div>
